:root {
  --header-bottom-border: #ececec;
  --portfolio-description-border: #eeeeee;

  --primary-font: 'Roboto', sans-serif;
  --secondart-font: 'Raleway', sans-serif;

  --primary-white-bg: #ffffff;
  --secondary-grey-bg: #f5f4fa;
  --accent-dark-blue-bg: #2f303a;
  --hero-grey-bg: #c4c4c4;

  --primary-grey-text: #757575;
  --secondary-black-text: #212121;
  --secondary-white-text: #ffffff;

  --accent: #2196f3;

  --icon-primary-grey: #afb1b8;

  --button-white-bg: #ffffff;
  --button-accent-blue-bg: #188ce8;

  --primary-transition-style: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.address {
  font-style: normal;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6 IE7 */
  clip: rect(1px 1px 1px 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--primary-grey-text);
}

/* @@@@@@@@@@@@@@@@@@@@@@ Components @@@@@@@@@@@@@@@@@@@@@@ */

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.component-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--secondary-black-text);
}

.logo {
  font-family: var(--secondart-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--secondary-black-text);
}

.logo-accent {
  color: var(--accent);
}

.logo-white {
  color: var(--secondary-white-text);
}

.address-link:hover,
.address-link:focus,
.header-contacts-link:hover,
.header-contacts-link:focus,
.nav-link:hover,
.nav-link:focus {
  color: var(--accent);
}
/* @@@@@@@@@@@@@@@@@@@@@@ End Components @@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@ HEADER @@@@@@@@@@@@@@@@@@@@@@ */
.header {
  /* padding: 24px 0; */
  background-color: var(--primary-white-bg);
  border-bottom: 1px solid var(--header-bottom-border);
}

.header .container {
  display: flex;
}
/* @@@@@@@@@@@@@@@@@@@@@@ Navigation @@@@@@@@@@@@@@@@@@@@@@ */
.header .logo {
  margin-right: 93px;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list .item:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  padding: 32px 0;
  position: relative;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-black-text);

  transition: color var(--primary-transition-style);
}

.active {
  color: var(--accent);
}

.active:after {
  content: '';
  display: block;
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: var(--accent);
  border-radius: 2px;
}

/* @@@@@@@@@@@@@@@@@@@@@@ End Navigation @@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@ Contacts @@@@@@@@@@@@@@@@@@@@@@ */
.header-contacts {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.header-contacts .item:not(:last-child) {
  margin-right: 50px;
}

.header-contacts-link {
  display: flex;
  align-items: center;
  flex-shrink: none;
  padding: 32px 0;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-grey-text);

  transition: color var(--primary-transition-style);
}

.contacts-icon {
  display: block;
  fill: currentColor;
  margin-right: 10px;
}

.icon-envelope {
  width: 16px;
  height: 12px;
}

.icon-smartphone {
  width: 10px;
  height: 16px;
}
/* @@@@@@@@@@@@@@@@@@@@@@ End Contacts @@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@ END HEADER @@@@@@@@@@@@@@@@@@@@@@ */

/* @@@@@@@@@@@@@@@@@@@@@@ MAIN @@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@ Hero @@@@@@@@@@@@@@@@@@@@@@ */
.hero {
  padding: 200px 0;

  background-color: var(--accent-dark-blue-bg);
  text-align: center;
}

.hero-background {
  margin: 0 auto;
  max-width: 1600px;
  background-color: var(--hero-grey-bg);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../img/main/bg/hero-bg.jpg');
  background-position: center;
  background-size: cover;
}

.title-hero {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-white-text);
}

.modal-button {
  min-width: 200px;
  padding: 10px 32px;

  border: solid 1px transparent;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--secondary-white-text);
  background-color: var(--accent);

  transition: background-color var(--primary-transition-style);
}

.modal-button:hover,
.modal-button:focus {
  background-color: var(--button-accent-blue-bg);
  cursor: pointer;
}
/* @@@@@@@@@@@@@@@@@@@@@@ End Hero @@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@ Features @@@@@@@@@@@@@@@@@@@@@@ */
.features {
  padding: 94px 0;
}

.feature-list {
  display: flex;
}

.feature-list .item {
  flex-basis: calc(100% / 4);
}

.feature-list .item:not(:last-child) {
  margin-right: 30px;
}

.feature-list-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;

  background-color: var(--secondary-grey-bg);
  border-radius: 4px;
}

.feature-list-svg {
  width: 70px;
  height: 70px;
}

.feature-title {
  margin-bottom: 10px;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-black-text);
}

.feature-description {
  line-height: 1.71;
}
/* @@@@@@@@@@@@@@@@@@@@@@ End Features @@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@ Specialty @@@@@@@@@@@@@@@@@@@@@@ */
.specialty {
  padding-bottom: 94px;
}

.specialty .component-title {
  margin-bottom: 50px;
}

.specialty-list {
  display: flex;
  flex-basis: calc(100% / 3);
}

.specialty-list .item {
  position: relative;
  width: calc((100% - 30px * 2) / 3);
}

.specialty-list .item:not(:last-child) {
  margin-right: 30px;
}

.specialty-item-overlay {
  background: rgba(47, 48, 58, 0.8);

  width: 100%;
  height: 70px;

  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
}
.specialty-overlay-text {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-white-text);
}
/* @@@@@@@@@@@@@@@@@@@@@@ End Specialty @@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@ Team @@@@@@@@@@@@@@@@@@@@@@ */
.team {
  padding: 94px 0;

  background-color: var(--secondary-grey-bg);
}

.team .component-title {
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  flex-basis: calc(100% / 4);
}

.team-list .item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  background-color: var(--primary-white-bg);
}
.team-list .item:not(:last-child) {
  margin-right: 30px;
}

.team-list .description {
  padding: 30px 32px;

  text-align: center;
}

.team-member {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--secondary-black-text);
}

.member-role {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
}

.social-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: background-color var(--primary-transition-style);
}

.social-list-item:hover,
.social-list-item:focus {
  background-color: var(--accent);
}

.social-list-icon {
  width: 20px;
  height: 20px;

  fill: var(--icon-primary-grey);

  transition: fill var(--primary-transition-style);
}

.social-list-item:hover .social-list-icon,
.social-list-item:focus .social-list-icon {
  fill: #ffffff;
}

/* @@@@@@@@@@@@@@@@@@@@@@ End Team @@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@ Clients @@@@@@@@@@@@@@@@@@@@@@ */
.clients {
  padding: 94px 0;
}

.client-container {
  margin-top: 50px;
}

.client-list {
  display: flex;
  align-items: center;
}

.client-list .item.item:not(:last-child) {
  margin-right: 30px;
}

.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: border-color var(--primary-transition-style);
}

.client-icon {
  fill: var(--icon-primary-grey);

  transition: fill var(--primary-transition-style);
}

.client-link:hover,
.client-link:focus {
  border-color: var(--accent);
}

.client-link:hover .client-icon,
.client-link:focus .client-icon {
  fill: var(--accent);
}
/* @@@@@@@@@@@@@@@@@@@@@@ End Clients @@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@ END MAIN @@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@ FOOTER @@@@@@@@@@@@@@@@@@@@@@ */
.footer {
  padding: 60px 0;

  background-color: var(--accent-dark-blue-bg);
}

.footer-wrapper {
  display: flex;
  align-items: baseline;
}

.footer-join-wrapper {
  margin-left: 70px;
}

.footer-address {
  margin-top: 20px;
}

.geolocation {
  margin-bottom: 9px;

  line-height: 1.71;
  color: var(--secondary-white-text);
}

.address-list .item:not(:last-child) {
  margin-bottom: 9px;
}

.address-link {
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);

  transition: color var(--primary-transition-style);
}

.join-text {
  margin-bottom: 20px;

  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--secondary-white-text);
}

.footer-join-wrapper .item:not(:last-child) {
  margin-right: 10px;
}

.footer-join-wrapper .social-list-item {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-join-wrapper .social-list-item:hover,
.footer-join-wrapper .social-list-item:focus {
  background-color: var(--accent);
}

.footer-join-wrapper .social-list-icon {
  fill: #ffffff;
}

.newsletter-signup {
  display: flex;
  flex-direction: column;

  margin-left: 93px;
}

.newsletter-signup-form {
  display: flex;
}

.newsletter-signup-title {
  margin-bottom: 20px;

  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-white-text);
}

.newsletter-signup-input {
  padding: 15px 0 15px 16px;

  width: 358px;

  margin-right: 12px;

  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  transition: border var(--primary-transition-style);

  color: var(--secondary-white-text);
}

.newsletter-signup-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.newsletter-signup-input:focus {
  outline: none;
  border: 1px solid var(--accent);
}
.newsletter-signup-button {
  display: flex;
  align-items: center;

  background: var(--accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid transparent;
  border-radius: 4px;

  padding: 10px 28px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--secondary-white-text);

  cursor: pointer;

  transition: background-color var(--primary-transition-style);
}

.signup-button-icon {
  margin-left: 10px;
}

.newsletter-signup-button:hover,
.newsletter-signup-button:focus {
  background-color: var(--button-accent-blue-bg);
}
/* @@@@@@@@@@@@@@@@@@@@@@ END FOOTER @@@@@@@@@@@@@@@@@@@@@@ */

/* @@@@@@@@@@@@@@@@@@@@@@ PORTFOLIO @@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@ Filters @@@@@@@@@@@@@@@@@@@@@@ */
.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter-button {
  border: solid 1px transparent;
  border-radius: 4px;
  padding: 6px 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--secondary-black-text);
  background-color: #f5f4fa;

  transition: background-color var(--primary-transition-style),
    color var(--primary-transition-style),
    box-shadow var(--primary-transition-style);
}

.filter-button:hover,
.filter-button:focus {
  color: var(--secondary-white-text);
  background-color: var(--button-accent-blue-bg);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* @@@@@@@@@@@@@@@@@@@@@@ End Filters @@@@@@@@@@@@@@@@@@@@@@ */

/* @@@@@@@@@@@@@@@@@@@@@@ Projects @@@@@@@@@@@@@@@@@@@@@@ */
.projects {
  padding: 94px 0;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
}

.project-item-link {
  display: block;
  transition: box-shadow var(--primary-transition-style);
}

.project-item-link:hover,
.project-item-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-list-overlay {
  position: relative;
  overflow: hidden;
}

.project-list-overlay-text {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  padding: 64px 24px 0px 24px;

  overflow: auto;

  background-color: rgba(33, 150, 243, 0.9);

  font-size: 18px;
  line-height: 1.56;
  color: var(--secondary-white-text);

  transform: translateY(105%);

  transition: transform var(--primary-transition-style);
}

.project-item-link:hover .project-list-overlay-text,
.project-item-link:focus .project-list-overlay-text {
  transform: translateY(0%);
}

.project-item {
  margin: 0px 30px 30px 0px;
}

.project-item:nth-child(3n + 3) {
  margin-right: 0;
}

.project-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.description-box {
  border: 1px solid var(--portfolio-description-border);
  border-top: none;
  padding: 20px 24px;
}

.project-title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-black-text);
}

.project-type {
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-grey-text);
}
/* @@@@@@@@@@@@@@@@@@@@@@ End Projects @@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@ END PORTFOLIO @@@@@@@@@@@@@@@@@@@@@@ */

/* @@@@@@@@@@@@@@@@@@@@@@ MODAL @@@@@@@@@@@@@@@@@@@@@@ */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--primary-transition-style),
    visibility var(--primary-transition-style);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -60%) scale(1.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform var(--primary-transition-style);

  padding: 40px;
  width: 528px;
  height: 581px;

  background-color: var(--primary-white-bg);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.exit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;

  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--button-white-bg);

  transition: fill var(--primary-transition-style);
}

.exit-button-icon {
  width: 18px;
  height: 18px;
  fill: #000000;
}
.exit-button:focus .exit-button-icon,
.exit-button:hover .exit-button-icon {
  fill: var(--accent);
}

.modal-title {
  display: block;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;

  margin-bottom: 12px;

  color: var(--secondary-black-text);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.modal-form-wrapper {
  display: block;
  position: relative;
  margin-bottom: 10px;
  margin-top: 4px;
}

.modal-form-input {
  width: 100%;
  padding: 12px 0 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--primary-transition-style);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  margin-left: 12px;
  transition: fill var(--primary-transition-style);
}

.modal-form-input:focus,
.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent);
  border-color: var(--accent);
  outline: none;
}

.form-label-textarea {
  resize: none;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  outline: none;

  transition: border-color var(--primary-transition-style);
}

.form-label-textarea:focus {
  border-color: var(--accent);
}

.form-label-textarea::placeholder {
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.form-term-label {
  display: flex;
  align-items: center;
  line-height: 1.71;
  margin: 20px 0 30px 0;
  cursor: pointer;
}

.form-term-label::before {
  margin-right: 8px;
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid #000000;
  border-radius: 2px;

  transition: background-color var(--primary-transition-style);
}

.form-term-checkbox:checked + .form-term-label::before {
  border: none;
  background-color: var(--accent);
  background-image: url(../img/icons/icon-check.svg);
  background-size: contain;
  /* background-position: center; */
}

/* .form-term-checkbox:focus + .form-term-label::before {
  outline: 1px solid #000000;
} */

.modal-form-button {
  align-self: center;
  display: inline-block;

  background-color: var(--accent);
  border: 1px solid transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  padding: 10px 55px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  cursor: pointer;

  color: var(--secondary-white-text);

  transition: background-color var(--primary-transition-style);
}

.modal-form-button:hover,
.modal-form-button:focus {
  background-color: var(--button-accent-blue-bg);
}

/* @@@@@@@@@@@@@@@@@@@@@@ END MODAL @@@@@@@@@@@@@@@@@@@@@@ */ ;
